{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions"]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-decorators-legacy", "transform-class-properties", "transform-vue-jsx", "transform-runtime"],
  "env": {

  }
}
