body {
  // padding-top: 30px;
}

.__cov-progress {
  transition: all 0.3s ease-in-out;
}

.md-app-scroller {
  overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch !important;
}

.md-tabs-navigation .md-button {
  // height: 56px !important; // 48
  // height: 48px !important;
}

.md-toolbar,
.md-toolbar-row {
  min-height: 48px !important;
}
