body {
  // padding-top: 30px;
}

.md-app-scroller {
  overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch !important;
}

.md-tabs-navigation .md-button {
  // height: 56px !important; // 48
  // height: 48px !important;
}

.md-toolbar,
.md-toolbar-row {
  min-height: 48px !important;
}

.md {
  ul {
    padding-left: 24px;

    // list-style-type: disc;
  }

  code {
    padding: 0 3px 2px;
    background-color: #f0f0f0;
    border-radius: 2px;
  }

  h1,
  h2 {
    font-size: 18px;
    margin: 12px 0 6px;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 14px;
    margin: 12px 0 6px;
  }
}

.slide-enter-active {
  transition: opacity 0.5s;
}

.slide-leave-active {
  transition: opacity 0.1s;
}

.slide-enter,
.slide-leave-to {
  opacity: 0;
}

// github corner
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }

  .github-corner:hover .octo-arm {
    animation: none;
  }
}
